* {
    margin: 0px;
    padding: 0px;
    cursor: crosshair;
}

#stage { 
    overflow: hidden;
    min-width: 500px;
    min-height: 500px;
    width: 500px;
    height: 500px;
    background-color: black;
}

.player {
    background-color: white;
    position:absolute;
    transform:translate(-50%,-50%);
    height:35px;
    width:35px;
    border-radius: 50%;
    /* border:2px solid black; */
}

.hidden {
    visibility: hidden;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center-horizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.center-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}